h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    background-color: blue;
    color: white;
}

button:hover {
    background-color: darkblue;
}